@model BurgerMVCProject.Domain.Entities.ExtraProduct

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Extra Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Extra Product" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageSrc" class="control-label"></label>
                <input asp-for="ImageSrc" class="form-control" />
                <span asp-validation-for="ImageSrc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

@* @using BurgerMVCProject.Domain.Entities
@model OrderItem
@{
    ViewData["Title"] = "Products Page";
}


<div class="row row-cols-1 row-cols-md-3 g-4">
    @if(Model is Menu)
    {
        <div class="col">
            <div class="card h-100">
                <a href="@Url.Action("Index", "Menu", new { Id = menu.MenuId, Name=menu.Name })">
                    <img src="@Url.Content(menu.ImageSrc)" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@menu.Name</h5>
                        <p class="card-text">@menu.Description</p>
                    </div>
                </a>
            </div>
        </div>
    }
</div> *@
















