@using BurgerMVCProject.Domain.Entities
@model List<Menu>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (Menu menu in Model)
    {
        <div class="col">
            <div class="card h-100">
                <a href="@Url.Action("Index", "Home", new { Id = menu.MenuId })">
                    <img src="@Url.Content(menu.ImageSrc)" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@menu.Name</h5>
                        <p class="card-text">@menu.Description</p>
                    </div>
                </a>
            </div>
        </div>
    }
</div>
